<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <title>{{ title or site.title }}</title>
  <meta name="description" content="{{ description or site.description }}" />
  <meta name="author" content="{{ site.author }}" />
  <link href="{{ assets.main|url }}" rel="stylesheet"/>
  <link rel="preload" href="{{ assets.fonts|url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ assets.fonts|url }}"></noscript>
</head>
<body>


<header class="c-header">

  <a href="{{ '/'|url }}" title="{{ site.title }}" class="c-logo">
    <img src="/assets/images/bart-en-merel.svg" alt="Bart & Merel" class="c-logo--img" width="280" height="132" />
  </a>
</header>

<main class="c-main s-container">
  {{ content | safe }}
</main>

<footer class="c-footer">
  <img src="/assets/images/12-11-21.svg" alt="12-11-21" class="c-date-img" width="280" height="75" />
</footer>


<div class="c-leaves">
  <img class="c-leaves--svg" src="/assets/images/leaves-top-right.svg" alt="Golden leaves" width="230" height="273" />
</div>
<div class="c-heart">
  <img class="c-heart--svg" src="/assets/images/heart.svg" alt="Heart" width="450" height="390" />
</div>

</body>
</html>
