---
permalink: /content/index.html
---
<div class="s-grid">

  <div>
    <h2>Dagprogramma</h2>

    <table class="c-timesheet">
      <tr>
        <td>14:00u</td><td>Ontvangst</td>
      </tr>
      <tr>
        <td>14:45u</td><td>Huwelijksceremonie</td>
      </tr>
      <tr>
        <td>15:30u</td><td>Toost &amp; Taart</td>
      </tr>
      <tr>
        <td>16:00u</td><td>Borrel</td>
      </tr>
      <tr>
        <td>17:30u</td><td>Diner</td>
      </tr>
      <tr>
        <td>20:30u</td><td>Feest</td>
      </tr>
    </table>


  </div>

  <div>
    <h2>Locatie</h2>
    <p>
      <strong>Slot Doddendael</strong>
    </p>
  </div>

  <div>
    <h2>Ceremoniemeesters</h2>
    <p>Patty Markerink: 06-12345679<br/>
      Janneke van der Ven (06 1232356</p>
  </div>

  <div>
    <h2>Dresscode</h2>
    <p>We vinden het leuk als je chique/sjiek komt, maar belangrijker dat je je prettig voelt.</p>
  </div>

  <div>
    <h2>Contact</h2>
    <p>Vragen, opmerkingen of afmeldingen?</p>

  </div>

</div>
