---
permalink: /contact/index.html
title: Contact
---

<h1>Contact</h1>
<p>Met dit formulier kun je een bericht sturen aan onze ceremoniemeesters.<br/>
Liever mailen? Kan ook: <a href="mailto:ceremoniemeesters@bartenmerel.nl" title="Mail ceremoniemeesters">ceremoniemeesters@bartenmerel.nl</a>.</p>


<form class="c-contactform" name="contact" method="POST" action="/bedankt/" data-netlify="true">

  <div class="c-text">
    <label for="naam">Je naam:</label>
    <input type="text" name="naam" required />
  </div>
  <div class="c-text">
    <label for="email">Je e-mailadres:</label>
    <input type="email" name="email" required />
  </div>
  <div class="c-textarea">
    <label for="vraag">Je vraag of opmerking:</label>
    <textarea name="vraag" required></textarea>
  </div>
  <div class="c-submit">
    <button type="submit" class="c-button"><span>Verzenden</span> →</button>
  </div>

  <label></label>

</form>
