---
permalink: /daggast/index.html
---
<div class="s-grid">

  <div class="s-grid-span">
    <h1>Hi 👋!</h1>
    <p>
      Wat ontzettend leuk dat je erbij bent op onze speciale dag!<br/>
      Hieronder staat alle info over onze bruiloft. Heb je nog een vraag, wil je afmelden of
      bijzonderheden (zoals dieetwensen) doorgeven? Neem dan contact op met onze ceremoniemeesters.
    </p>
    <p>Tot 12 november! <br/>Bart en Merel</p>
  </div>

  <div>
    <h2>🙋 Vragen?</h2>
    <p>Stel ze aan onze ceremoniemeesters</p>
    {% include 'partials/contactform.njk' %}

  </div>


  <div>
    <h2>🦸🏼‍♀️ Ceremoniemeesters</h2>
    <p>Patty Markerink: 06-12345679<br/>
      Janneke van der Ven (06 1232356<br/>

      ✉️ <a href="mailto:ceremoniemeesters@bartenmerel.nl">ceremoniemeesters@bartenmerel.nl</a></p>
  </div>



  <div>
    <h2>🗓 Dagprogramma</h2>

    <table class="c-timesheet">
      <tr>
        <td>14:00u</td><td>Ontvangst</td>
      </tr>
      <tr>
        <td>14:45u</td><td>Huwelijksceremonie</td>
      </tr>
      <tr>
        <td>15:30u</td><td>Toost &amp; Taart</td>
      </tr>
      <tr>
        <td>16:00u</td><td>Borrel</td>
      </tr>
      <tr>
        <td>17:30u</td><td>Diner</td>
      </tr>
      <tr>
        <td>20:30u</td><td>Feest</td>
      </tr>
    </table>


  </div>

  <div>
    <h2>🏰 Locatie</h2>
    <p>
{#      <img src="/assets/images/slot-doddendael.jpg" alt="Slot Doddendael" class="c-slotimg" />#}
      <strong>Slot Doddendael</strong><br/>
      Binnenweg 2, 6644 KD Ewijk<br/>
      <a href="https://www.google.com/maps/dir//slot+doddendael+v/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x47c7075bbd0749ad:0x428a92d86aea6824?sa=X&ved=2ahUKEwijyMnV9bLyAhVKP-wKHbTYA0YQ9RcwDnoECEQQBA" title="Google Maps">
        Route
      </a>
    </p>
  </div>

  <div>
    <h2>🛏 Overnachten</h2>
    <p>Bij Slot Doddendael kun je niet overnachten, maar </p>
  </div>

  <div>
    <h2>👔 Dresscode</h2>
    <p>We vinden het leuk als je chique/sjiek komt, maar belangrijker dat je je prettig voelt.</p>
  </div>

  <div>
    <h2>Contact</h2>
    <p>Vragen, opmerkingen of afmeldingen?</p>

  </div>

</div>
