---
permalink: /daggast/index.html
---
<div class="s-grid">

  <div class="s-grid-span mb">
    <h1>Hi 👋!</h1>
    <p>
      Leuk dat je erbij bent op onze speciale dag!
      Op deze site staat alle info over onze bruiloft.<br/>Heb je nog een vraag, wil je afmelden,
      je dinervoorkeur of
      bijzonderheden doorgeven? Neem dan contact op met onze ceremoniemeesters.
    </p>
    <p>Tot 12 november! <br/>Bart en Merel</p>
  </div>




  <div>
    <h2>🦸🏼‍♀️ Ceremoniemeesters</h2>
    <p>Patty Markerink<br/>
      Janneke van der Ven<br/>

      E-mail: <a href="mailto:ceremoniemeesters@bartenmerel.nl" title="Mail ceremoniemeesters">ceremoniemeesters@bartenmerel.nl</a>
      <br/>of vul het <a href="/contact" title="Contact"><span>contactformulier</span> →</a> in


    </p>
  </div>


  <div>
    <h2>🦠 Corona</h2>
    <p>Waarschijnlijk zullen we je moeten vragen om een <strong>coronatoegangsbewijs</strong>, d.m.v. een QR-code
      in de CoronaCheck-app.<br/>
      Kijk voor de zekerheid daags voor de bruiloft nog op deze site, voor eventuele last-minute updates.<br/>
      We gaan ervan uit dat je thuisblijft bij klachten.</p>
  </div>


  <div>
    <h2>🏰 Locatie</h2>
    <p>
      {#      <img src="/assets/images/slot-doddendael.jpg" alt="Slot Doddendael" class="c-slotimg" />#}
      <a href="https://www.doddendael.nl/" title="Slot Doddendael">Slot Doddendael</a><br/>
      Binnenweg 2, 6644 KD Ewijk<br/>
      <a href="https://www.google.com/maps/dir//slot+doddendael+v/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x47c7075bbd0749ad:0x428a92d86aea6824?sa=X&ved=2ahUKEwijyMnV9bLyAhVKP-wKHbTYA0YQ9RcwDnoECEQQBA" title="Google Maps">
        Route
      </a><br/>
      Er is voldoende parkeergelegenheid aanwezig.
    </p>
  </div>



  <div>
    <h2>🍽 Diner</h2>
    <p>We horen graag van je of je het liefst <strong>vlees</strong>, <strong>vis</strong> of <strong>vega</strong> eet.<br/>
    Je kunt je voorkeur doorgeven via het <a href="/contact/" title="Contact">contactformulier</a> of via
      <a href="mailto:ceremoniemeesters@bartenmerel.nl" title="Mail ceremoniemeesters">ceremoniemeesters@bartenmerel.nl</a>.
    </p>
  </div>




  <div>
    <h2>🛏 Overnachten</h2>
    <p>Bij Slot Doddendael kun je niet overnachten, maar er zijn diverse hotels en B&B's in de buurt.<br/>
      <a href="/overnachten/" title="Overnachtingsmogelijkheden"><span>Overnachtingsmogelijkheden</span> →</a></p>
  </div>

  <div>
    <h2>🗓 Dagprogramma</h2>

    <p>Wij ontvangen je graag vanaf 14:00u bij Slot Doddendael.</p>
    <table class="c-timesheet">
      <tr>
        <td>14:00u</td><td>Ontvangst</td>
      </tr>
      <tr>
        <td>14:45u</td><td>Huwelijksceremonie</td>
      </tr>
      <tr>
        <td>15:30u</td><td>Toost &amp; Taart</td>
      </tr>
      <tr>
        <td>16:00u</td><td>Borrel</td>
      </tr>
      <tr>
        <td>17:30u</td><td>Diner</td>
      </tr>
      <tr>
        <td>20:30u</td><td>Feest</td>
      </tr>
      <tr>
        <td>24:00u</td><td>Einde</td>
      </tr>
    </table>
  </div>


  <div>
    <h2>🎤 ABC?</h2>
    <p>We houden het podium graag gereserveerd voor de band en DJ, dus graag geen abc'tjes, speeches
    of amateurcabaret ;-).</p>
  </div>

  <div>
    <h2>🎁 Cadeautip</h2>
    <p>Het traditionele envelopje-met-inhoud vinden wij fijn!</p>
  </div>

  <div>
    <h2>👔 Dresscode</h2>
    <p>We vinden het leuk als je chique/sjiek komt, maar belangrijker dat je je prettig voelt.</p>
  </div>


</div>
