---
permalink: index.html
---

<div class="s-grid">
  <div class="s-grid-span">
    <h1>Hi 👋!</h1>
    <p>
      Leuk dat je erbij bent op onze speciale dag!<br/>
      Maak je keuze:
    </p>
    <p class="c-choose-info">
      <a href="/daggast/" class="c-button" title="Informatie voor daggasten"><span>Info voor daggasten</span> →</a><br/>
      <a href="/avondgast/" class="c-button" title="Informatie voor avondgasten"><span>Info voor avondgasten</span> →</a>
    </p>

  </div>

</div>


