
<div class="s-grid">
  <div>
    <h1>Welkom 👰‍♀️🤵</h1>

    <img src="/assets/images/12-11-21.svg" alt="12-11-21" />

    <p>Superleuk dat je onze bijzondere dag met ons wilt meevieren.</p>

    <ul class="c-usps">
      <li>Supercoole bruiloft</li>
      <li>Leuk</li>
      <li>Stabiele meubels met ingebouwde pedalen en speakers</li>
      <li>Persoonlijk geselecteerd en gecontroleerd</li>
      <li>Vriendelijke tarieven</li>
    </ul>

    <p>
      <a href="mailto:jasper@pianolesboxmeer.nl" class="c-button" title="Informatie aanvragen">Informatie aanvragen</a>
    </p>

  </div>
  <div>
{#    {% include './_includes/partials/woman-with-piano.njk' %}#}
  </div>



  <div>
    <h2>Dagprogramma</h2>

    <table class="c-timesheet">
      <tr>
        <td>14:00u</td><td>Ontvangst</td>
      </tr>
      <tr>
        <td>14:00u</td><td>Huwelijksceremonie</td>
      </tr>
    </table>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris condimentum volutpat nisi, vitae sodales augue sodales sed.
      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      Nullam porttitor tincidunt magna, ac tristique metus rutrum ac. </p>
  </div>

  <div>
    <h2>Locatie</h2>
    <p>
      <strong>Slot Doddendael</strong>
    </p>
  </div>

</div>
