
.c-button {
  font-size: 1rem;

  border: 1px solid rgba(255,255,255,.8);
  border-radius: 3px;
  background: var(--color-red);
  cursor: pointer;

  color: white;
  text-decoration: none;
  padding: .4rem 1.2rem;
  display: inline-block;

  margin-bottom: .5rem;

  &:hover, &:focus, &:active {
    border: 1px solid rgba(255,255,255,1);
    background: var(--color-red-light);
    span {
      text-decoration: underline;

    }
  }
}



.btn {


  font-size: 1.4rem;
  padding: .5rem 1.5rem;

  position: relative;
  display: inline-block;

  background-color: var(--color-primary);

  color: white;

  box-shadow: 6px 6px 0 var(--color-primary--dark);
  text-decoration: none;

  &::after {
    transition: all 0.15s linear 0s;
    content: "";
    position: absolute;
    top: 2px;
    right: -4px;
    width: 8px;
    height: 8px;
    background-color: var(--color-primary--dark);
    transform: rotate(45deg);
    z-index: -1;

  }
  &::before {
    transition: all 0.15s linear 0s;
    content: "";
    position: absolute;
    bottom: -4px;
    left: 2px;
    width: 8px;
    height: 8px;
    background-color: var(--color-primary--dark);
    transform: rotate(45deg);
    z-index: -1;
  }

  &:hover {

  }

}
