
.c-header {
  padding: 0 0 1rem 0;
  padding-bottom: 2rem;
}

.c-logo {
  width: 320px;
  max-width: 90%;
  display: inline-block;
}



body:after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 3rem; left: 3rem;
  right: 3rem;
  border: 4px solid var(--color-red);


  height: calc(100% - 6rem);


  @media screen and (max-width: 960px) {
    top: 1rem; left: 1rem;
    right: 1rem;
    border: 3px solid var(--color-red);
    height: calc(100% - 2rem);

  }
}

.c-leaves {
  width: 600px;
  position: absolute;
  top: -20px;
  right: -74px;
  z-index: -1;
  pointer-events: none;

  svg {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 600px) {
    width: 64vw;
  }
}
