
.c-header {
  padding: 0 0 1rem 0;
  padding-bottom: 2rem;

  @media screen and (max-width: 600px) {

  }
}

.c-logo {
  display: block;
  width: 280px;
  max-width: 90%;
}

.c-logo--img {
  width: 100%;
}

.c-main {
  margin-bottom: 2rem;
}

.c-footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.c-date {
  display: block;
}

.c-date-img {

  width: 280px;
  max-width: 90%;
  display: block;
  margin-top: 1rem;

  @media screen and (max-width: 600px) {
    width: 220px;

  }
}

body:after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 3rem; left: 3rem;
  right: 3rem;
  border: 4px solid var(--color-red);
  pointer-events: none;


  height: calc(100% - 6rem);


  @media screen and (max-width: 960px) {
    display: none;
    top: 1rem; left: 1rem;
    right: 1rem;

    border-width: .5px;
    /*
    border: 3px solid var(--color-red);
    */
    height: calc(100% - 2rem);

  }
}

.c-leaves {
  width: 600px;
  position: absolute;
  top: -20px;
  right: -74px;
  z-index: 0;
  pointer-events: none;

  img {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 600px) {
    width: 64vw;
    position: fixed;
  }
}


.c-heart {
  width: 450px;
  position: absolute;
  bottom: 10%;
  right: 10%;
  z-index: -1;
  pointer-events: none;

  svg {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 600px) {
    position: fixed;
    width: 64vw;
  }
}

.c-slotimg {
  width: 240px;
}

.c-choose-info {
  a {
    width: 250px;
  }

}

table {

  max-width: 100%;
  overflow-x: auto;
  display: block;
  scroll-behavior: smooth;
  td {
    white-space: nowrap;
  }
}
