
.c-radio {
  display: block;
}
.c-contactform {
  width: 100%;
  max-width: 400px;
  margin-top: 1rem;

}
input[type=radio] {
  background: white;
}

input[type=text],input[type=email]{
  font-family: var(--font-form);
  background: white;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  padding: .5rem;
  width: 80%;

}


textarea {
  width: 100%;
  height: 6rem;
  font-family: var(--font-form);
  padding: .5rem;
  font-size: 16px;
  border-radius: 3px;
  background: white;
  border: none;
}

.c-textarea {
  label {
    width: 100%;
    display: block;
  }
}

form > * {
  margin-bottom: .5rem;
}

form label {
  display: block;
  width: 100%;
}



.c-submit {
  display: flex;
  justify-content: flex-end;
}
