
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 5rem;

  height: auto;
  min-height: 100%;
  position: relative;

  @media screen and (max-width: 960px) {
    padding: 1rem 1rem 3rem 1rem;
  }

  color: var(--color-text);

  background-color: var(--color-background);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

html,body {

}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  font: inherit;
}

/*.s-main {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}*/

.s-container {
  width: var(--container);
  max-width: 100%;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin: 0 auto;
}

/*
.s-container--wider {
  width: var(--grid-wide);
}

.s-box {
  width: var(--grid-small);
  max-width: 100%;
}
*/

.s-grid {
  display: grid;
  gap: var(--grid-spacer);
  grid-template-columns: repeat(var(--grid-columns), minmax(0, 1fr));

}

.s-grid-span {
  grid-column-start: span var(--grid-columns);
}
header,main,footer {
  z-index: 2;
}
.mt {
  margin-top: .25rem;
}
