:root {
  --container: 1024px;
  
  --grid-columns: 2;
  --grid-spacer: 2rem;

  --font:  'Georgia', sans-serif;
  --font-headings:  'Georgia', sans-serif;


  --font-size: 17px;

  --font-form:   -apple-system,BlinkMacSystemFont,"Segoe UI", "Roboto","Helvetica Neue", Arial, sans-serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --color-red: #b51d26;
  --color-red-light: #ce3232;

  --color-white: #fff;
  --color-maroon: #641926;
  --color-sand: #efd4ac;
  --color-sand-lighter: #fff1e8;

  --color-background: var(--color-maroon);
  --color-text: var(--color-sand-lighter);

  --color-text: white;

  --color-headings: var(--color-white);


  @media screen and (max-width: 960px) {
    --grid-columns: 1;
    --grid-spacer: 1rem;

    --container: 100%;
  }


}
