<form class="c-contactform">

  <div class="c-radioset">
    <span>Ik wil</span>
    <label class="c-radio">
      <input type="radio" name="verzoek" value="vraag" required>
      <span>Een vraag stellen of iets doorgeven</span>
    </label>
    <label>
      <input type="radio" name="verzoek" value="afmelden" required>
      <span>Afmelden</span>
    </label>
  </div>
  <div class="c-text">
    <label for="naam">Je naam:</label>
    <input type="text" name="naam" required />
  </div>
  <div class="c-textarea">
    <label for="vraag">Je vraag of opmerking:</label>
    <textarea name="vraag" required></textarea>
  </div>
  <div class="c-submit">
    <button type="submit" class="c-button"><span>Verzenden</span> →</button>
  </div>

  <label></label>

</form>
